.gradient-bg {
  width: 100vw;
  /* height: 100vh; */
  /* height: 100%; */
  position: absolute;
  overflow: hidden;

  inset: 0;

  svg {
    display: none;
  }

  .gradients-container {
    filter: url(#goo) blur(40px);
    width: 100%;
    height: 100%;
  }

  .g1 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color1), 0.8) 0,
        rgba(var(--color1), 0) 100%
      )
      no-repeat;

    mix-blend-mode: var(--blending);

    width: calc(var(--circle-size) * 1.25);
    height: calc(var(--circle-size) * 1.25);

    top: 200px;
    left: 10%;

    /* top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2); */

    transform-origin: center center;
    animation: moveVertical 30s ease infinite;

    opacity: 1;
  }

  .g2 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color2), 0.8) 0,
        rgba(var(--color2), 0) 50%
      )
      no-repeat;

    mix-blend-mode: var(--blending);

    width: calc(var(--circle-size));
    height: calc(var(--circle-size));

    top: 100px;
    left: 20%;
    /* top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2); */

    transform-origin: calc(50% - 100px);
    animation: moveInCircle 15s reverse infinite;

    opacity: 1;
  }

  .g3 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color3), 0.8) 0,
        rgba(var(--color3), 0) 60%
      )
      no-repeat;

    mix-blend-mode: var(--blending);

    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 1.5);

    top: 250px;
    left: 30%;

    transform-origin: calc(50% + 200px);
    animation: moveVertical 40s linear infinite;

    opacity: 1;
  }

  .g4 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color4), 0.8) 0,
        rgba(var(--color4), 0) 70%
      )
      no-repeat;

    mix-blend-mode: var(--blending);

    width: calc(var(--circle-size) * 1.25);
    height: calc(var(--circle-size) * 1.25);

    top: 200px;
    left: 60%;

    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;

    opacity: 1;
  }

  .g5 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color5), 0.8) 0,
        rgba(var(--color5), 0) 100%
      )
      no-repeat;

    mix-blend-mode: var(--blending);

    width: calc(var(--circle-size) * 1);
    height: calc(var(--circle-size) * 1);

    top: 150px;
    left: 30%;

    transform-origin: calc(50% - 100px) calc(50% + 150px);
    animation: moveInCircle 20s ease infinite;

    opacity: 1;
  }

  .g6 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color3), 0.8) 0,
        rgba(var(--color3), 0) 60%
      )
      no-repeat;

    mix-blend-mode: var(--blending);

    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 1.5);

    top: 250px;
    left: 10%;

    transform-origin: calc(50% + 200px);
    animation: moveVertical 20s linear infinite;

    opacity: 1;
  }

  .g7 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color4), 0.8) 0,
        rgba(var(--color4), 0) 70%
      )
      no-repeat;

    mix-blend-mode: var(--blending);

    width: calc(var(--circle-size) * 1);
    height: calc(var(--circle-size) * 1);

    top: 600px;
    left: 15%;

    transform-origin: calc(50% - 200px);
    animation: moveNegativeHorizontal 30s ease infinite;

    opacity: 1;
  }
}

.interactive {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--color-interactive), 0.8) 0,
      rgba(var(--color-interactive), 0) 50%
    )
    no-repeat;

  mix-blend-mode: var(--blending);

  width: 100%;
  height: 100%;
  top: -50%;
  left: -50%;

  opacity: 0.7;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-35vh);
  }
  50% {
    transform: translateY(-5vh);
  }
  100% {
    transform: translateY(-35vh);
  }
}

@keyframes moveHorizontal {
  /* Trocar translateY por % por % */
  0% {
    transform: translateX(-50%) translateY(-30vh);
  }
  50% {
    transform: translateX(50%) translateY(-10vh);
  }
  100% {
    transform: translateX(-50%) translateY(-30vh);
  }
}

@keyframes moveNegativeHorizontal {
  /* Trocar translateY por % por % */
  0% {
    transform: translateX(70%) translateY(-30vh);
  }
  50% {
    transform: translateX(-70%) translateY(-10vh);
  }
  100% {
    transform: translateX(70%) translateY(-30vh);
  }
}
