/* @reference '../../../index.css'; */

@layer components {
  .external-link-icon {
    @apply w-4 h-5 
      opacity-0 
      -translate-y-4  
      transition-all duration-200 delay-75;
  }

  .card {
    @apply bg-[#1b1f2e] border-[1.5px] border-[#353845] cursor-pointer rounded-lg;
    @apply hover:border-[#6FB1FF];
    @apply duration-200 transition-all;
  }

  .projetos-card {
    @apply flex flex-col justify-end items-stretch relative col-span-2 row-span-2 order-1 overflow-clip;

    @apply bg-[url('./images/dot_bg.png')] bg-cover bg-no-repeat;

    @apply lg:col-span-3 lg:row-span-3 lg:order-none;

    @apply max-md:col-span-1 max-md:row-span-1;
  }

  .saiba-mais-card {
    @apply flex flex-col justify-end items-stretch col-span-1 row-span-2 order-3 overflow-clip relative;

    @apply lg:col-span-2 lg:row-span-5 lg:order-none;

    @apply max-md:col-span-1 max-md:row-span-1;

    img {
      image-rendering: auto;
    }
  }

  .toolbox-card {
    @apply flex flex-col justify-end items-stretch relative col-span-1 row-span-2 overflow-clip order-2;

    @apply lg:col-span-3 lg:row-span-2 lg:order-none;

    @apply max-md:col-span-1 max-md:row-span-1;
  }

  .toolbox-card .toolbox-bg {
    .toolbox-bg-circle {
      stroke: #c4c4c4;
    }

    .toolbox-logo-part {
      transition: fill 0.4s ease;
      fill: #c4c4c4;
    }

    .toolbox-logo-part {
      fill: #1f7ff0;
    }
  }
}

/* .external-link-icon {
  @apply w-4 h-5 
    opacity-0 
    -translate-y-4  
    transition-all duration-200 delay-75;
}

.card {
  @apply bg-[#1b1f2e] border-[1.5px] border-[#353845] cursor-pointer rounded-lg;
  @apply hover:border-[#6FB1FF];
  @apply duration-200 transition-all;
}

.projetos-card {
  @apply flex flex-col justify-end items-stretch relative col-span-2 row-span-2 order-1 overflow-clip;

  @apply bg-[url('./images/dot_bg.png')] bg-cover bg-no-repeat;

  @apply lg:col-span-3 lg:row-span-3 lg:order-none;

  @apply max-md:col-span-1 max-md:row-span-1;
}

.saiba-mais-card {
  @apply flex flex-col justify-end items-stretch col-span-1 row-span-2 order-3 overflow-clip relative;

  @apply lg:col-span-2 lg:row-span-5 lg:order-none;

  @apply max-md:col-span-1 max-md:row-span-1;

  img {
    image-rendering: auto;
  }
}

.toolbox-card {
  @apply flex flex-col justify-end items-stretch relative col-span-1 row-span-2 overflow-clip order-2;

  @apply lg:col-span-3 lg:row-span-2 lg:order-none;

  @apply max-md:col-span-1 max-md:row-span-1;
}

.toolbox-card :global(.toolbox-bg) {
  :global(.toolbox-bg-circle) {
    stroke: #c4c4c4;
  }

  :global(.toolbox-logo-part) {
    transition: fill 0.4s ease;
    fill: #c4c4c4;
  }

  :global(.toolbox-logo-part) {
    fill: #1f7ff0;
  }
} */
