@import url('https://fonts.googleapis.com/css2?family=Esteban&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Space+Grotesk:wght@300..700&display=swap&family=Assistant:wght@200..800&display=swap&family=Assistant:wght@200..800&family=Manrope:wght@200..800&display=swap')
layer(base);

@import 'tailwindcss';

/* @config '../tailwind.config.js'; */

@theme {
  --breakpoint-sm: 340px;
  --breakpoint-md: 620px;
  --breakpoint-lg: 960px;
  --breakpoint-xl: 1216px;
  --breakpoint-2xl: 1440px;

  --font-primary: 'Satoshi';
  --font-secondary: 'Space Grotesk';
  --color-black-normal: #020617;
  --color-black-light: #151b26;
  --color-black-text: #0f172a;
  --color-blue-light: #6fb1ff;
  --color-blue-normal: #1f7ff0;
  --color-blue-dark: #1a3365;
  --color-card-border: #35455f;
  --color-white-text: #f9fafe;
  --color-text-gradient: 90deg, #5390e3 0%, #1357b3 100%;
  --color-header-gradient: 180deg, #030917 0%, rgba(3, 9, 23, 0) 100%;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    @apply font-primary text-white-text;
  }

  h1 {
    font-family: 'Satoshi' !important;
  }

  button {
    @apply text-white;
  }

  a {
    text-decoration: none;
    @apply text-[#fafcfc];
    @apply leading-[26px] font-normal text-base transition ease-in-out duration-300 hover:opacity-100;
  }

  body {
    width: 100%;
    position: relative;

    /* @apply bg-slate-900; */
    @apply bg-black-normal;
    @apply scroll-smooth;
    @apply overflow-x-hidden;

    &::-webkit-scrollbar {
      padding-right: 2px;
      width: 8px;
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      @apply bg-black-light;
    }
  }

  svg,
  img {
    width: 100%;
  }

  h1 {
    @apply text-[#FAFAFA] text-6xl leading-[120%] font-semibold;

    @apply max-lg:text-4xl max-sm:text-[32px];
  }

  h2 {
    @apply text-[#FAFAFA] text-5xl leading-[120%] font-medium;

    @apply max-lg:text-3xl max-sm:text-[32px];
  }

  h3 {
    @apply text-[#FAFAFA] text-4xl leading-[120%] font-normal;

    @apply max-lg:text-2xl max-sm:text-[28px];
  }

  h4 {
    @apply text-[#FAFAFA] text-3xl leading-[120%] font-normal;

    @apply max-lg:text-xl max-lg:leading-[130%] max-sm:text-xl max-sm:leading-[140%];
  }

  h5 {
    @apply text-[#FAFAFA] text-2xl leading-[140%] font-normal;

    @apply max-lg:text-lg max-lg:leading-[140%];
  }

  h6 {
    @apply text-[#FAFAFA] text-lg leading-normal font-normal;

    @apply max-lg:text-base;
  }
}

@font-face {
  font-family: 'Satoshi';
  src: local('Satoshi'), url('./assets/fonts/Satoshi/Satoshi-Variable.ttf');
}

:root {
  --color1: 2, 6, 23;
  --color2: 26, 51, 101;
  --color3: 31, 127, 240;
  --color4: 31, 127, 240;
  --color5: 10, 16, 31;
  --circle-size: 700px;
  --blending: hard-light;
}

::-moz-selection {
  /* Code for Firefox */
  @apply bg-blue-dark;
}

::selection {
  @apply bg-blue-dark;
}

html {
  scroll-behavior: smooth;
}

.bx {
  @apply hidden max-lg:block w-10 h-10 cursor-pointer relative;

  &::after {
    @apply content-[''] w-[70%] h-0.5 block bg-white absolute top-[35%] left-[40%] -translate-x-1/2 -translate-y-1/2 rounded-xs transition-all duration-500 ease-in-out;
  }

  &::before {
    @apply content-[''] w-[70%] h-0.5 block bg-white absolute top-[65%] left-[60%] -translate-x-1/2 -translate-y-1/2 rounded-xs transition-all duration-500 ease-in-out;
  }

  &.open {
    &::after {
      @apply absolute top-1/2 left-1/2  -translate-x-1/2 -translate-y-1/2 rotate-[135deg];
    }

    &::before {
      @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rotate-[-315deg];
    }
  }
}

.menu-mobile {
  li {
    .link-menu-mobile {
      @apply transition-all duration-300;
      @apply inline-block w-full h-full py-2.5 px-5 hover:bg-black-normal/50 hover:pl-6;
    }
  }
}

.section-layout {
  @apply max-w-(--breakpoint-xl) my-0 mx-auto overflow-hidden py-32 px-6;
  @apply max-lg:py-24 max-lg:px-8;
}

.gradient-transition {
  height: 20vh; /* Ajuste conforme necessário */
  background: linear-gradient(
    to bottom,
    transparent,
    #000
  ); /* Transição para preto */
}
