@import url('https://fonts.googleapis.com/css2?family=Esteban&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Space+Grotesk:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color1: 2, 6, 23;
  --color2: 26, 51, 101;
  --color3: 31, 127, 240;
  --color4: 31, 127, 240;
  --color5: 10, 16, 31;
  --circle-size: 700px;
  --blending: hard-light;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  @apply font-primary;
}

html {
  scroll-behavior: smooth;
}

button {
  @apply text-white;
}

a {
  text-decoration: none;

  @apply leading-[26px] font-normal text-base text-[#89a9d7] hover:text-white transition ease-in-out duration-300;
}

body {
  width: 100%;
  position: relative;

  /* @apply bg-slate-900; */
  @apply bg-black-normal;
  @apply scroll-smooth;
  @apply overflow-x-hidden;

  &::-webkit-scrollbar {
    padding-right: 2px;
    width: 8px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    @apply bg-black-light;
  }

  &::before {
    position: absolute;
    inset: 0;
    content: '';
    width: 100%;
    height: 100%;

    filter: url(#noiseFilter);
    mix-blend-mode: multiply;
  }
}

svg,
img {
  width: 100%;
}

.bx {
  @apply hidden max-lg:block w-10 h-10 cursor-pointer relative;

  &::after {
    @apply content-[''] w-[70%] h-0.5 block bg-white absolute top-[35%] left-[40%] -translate-x-1/2 -translate-y-1/2 rounded-sm transition-all duration-500 ease-in-out;
  }

  &::before {
    @apply content-[''] w-[70%] h-0.5 block bg-white absolute top-[65%] left-[60%] -translate-x-1/2 -translate-y-1/2 rounded-sm transition-all duration-500 ease-in-out;
  }

  &.open {
    &::after {
      @apply absolute top-1/2 left-1/2  -translate-x-1/2 -translate-y-1/2 rotate-[135deg];
    }

    &::before {
      @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rotate-[-315deg];
    }
  }
}

.menu-mobile {
  li {
    @apply border-b border-black-normal;

    .link-menu-mobile {
      @apply inline-block w-full h-full py-2.5 px-5 hover:bg-black-normal hover:pl-6;
    }
  }
}

.section-layout {
  @apply max-w-screen-xl my-0 mx-auto overflow-hidden py-32 px-6;
  @apply max-lg:py-24 max-lg:px-4;
}

.gradient-transition {
  height: 20vh; /* Ajuste conforme necessário */
  background: linear-gradient(
    to bottom,
    transparent,
    #000
  ); /* Transição para preto */
}

h1 {
  @apply text-[#FAFAFA] text-6xl leading-[120%] font-semibold;

  @apply max-lg:text-4xl max-sm:text-[32px];
}

h2 {
  @apply text-[#FAFAFA] text-5xl leading-[120%] font-medium;

  @apply max-lg:text-3xl max-sm:text-[32px];
}

h3 {
  @apply text-[#FAFAFA] text-4xl leading-[120%] font-normal;

  @apply max-lg:text-2xl max-sm:text-[28px];
}

h4 {
  @apply text-[#FAFAFA] text-3xl leading-[120%] font-normal;

  @apply max-lg:text-xl max-lg:leading-[130%] max-sm:text-xl max-sm:leading-[140%];
}

h5 {
  @apply text-[#FAFAFA] text-2xl leading-[140%] font-normal;

  @apply max-lg:text-lg max-lg:leading-[140%];
}

h6 {
  @apply text-[#FAFAFA] text-lg leading-normal font-normal;

  @apply max-lg:text-base;
}

/* .toolbox-card .toolbox-bg .toolbox-bg-circle {
  -webkit-transition: fill 0.4s ease;
  -moz-transition: fill 0.4s ease;
  -o-transition: fill 0.4s ease;
  transition: fill 1.4s ease;
  stroke: #c4c4c4;
  fill: red;
}

.toolbox-card:hover .toolbox-bg .toolbox-bg-circle {
  fill: url(#default_gradient);
  stroke: #353845;
} */

/* 
.toolbox-bg .toolbox-bg-circle {
  -webkit-transition: fill 0.4s ease;
  -moz-transition: fill 0.4s ease;
  -o-transition: fill 0.4s ease;
  transition: fill 1.4s ease;
  stroke: #c4c4c4;
  fill: red;
}

.toolbox-bg:hover .toolbox-bg-circle {
  fill: white;
} */
